
{% extends "main.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

<h2>{% if is_not_authors %}
<button> <a href="sign/upgrade/"> Хочу БЫТЬ АВТОРОМ!</a> </button>
{% endif %}</h2>

<!--<h2>Подписка на категории новостей</h2>-->
<!--<form method="post">-->
<!--<button> <a href="subscribe/">подписаться </a> </button>-->
<!--</form>-->



<h2>
<button> <a href="news/">ВОЙТИ НА САЙТ News</a> </button>
</h2>

<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>
{% endblock %}


